@model Application.ViewModels.UserViewModel  

<!-- Page Header  -->
<div class="panel-header bg-white">
    <div class="page-inner">
        @await Html.PartialAsync("~/Views/Shared/_ownerLayout.cshtml")
    </div>
</div>

<!-- Page Content  -->
<div class="page-inner">
    <div class="page-category">
        <div class="col-md-12">
            <!-- Folder 1  -->
            <div class="card cardHoverLine card-stats card-round">
                <div class="card-body">
                    <div class="card-category">
                        7 học phần
                    </div>
                    <i class="far fa-folder card-title"></i>&emsp;
                    <a asp-controller="Folders" asp-action="Index" asp-route-id="1" class="card-title text-uppercase" style="text-decoration: none;">
                        <b>Tiếng trung cơ bản</b>
                    </a>
                </div>
            </div>

            <!-- Folder 2  -->
            <div class="card cardHoverLine card-stats card-round">
                <div class="card-body">
                    <div class="card-category">
                        2 học phần
                    </div>
                    <i class="far fa-folder card-title"></i>&emsp;
                    <a asp-controller="Folders" asp-action="Index" asp-route-id="2" class="card-title text-uppercase" style="text-decoration: none;">
                        <b>Tiếng anh viết và đọc</b>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>